{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Формы, cookie</h1>
    <div>
        Привет, 
        <span style="color: {{ name_color }}">
            {{ name or 'аноним' }}
        </span>!
    </div>
    <div>
        Возраст: {{ request.cookies.get('age') or 'не указан' }}
    </div>
    <div>Список сделанных страниц</div>
    <ol>
        <li><a href="/lab3/cookie">Куки</a></li>
        <li><a href="/lab3/del_cookie">Чистка кук</a></li>
        <li><a href="/lab3/form1">Форма 1</a></li>
        <li><a href="/lab3/order">Заказ напитка</a></li>
        <li><a href="/lab3/settings">Цвет текста</a></li>
        <li><a href="/lab3/ticket">Железнодорожный билет</a></li>
        <li><a href="/lab3/manga">Магазин манги</a></li>
    </ol>
{% endblock %}
